.slot[data-activity=p_gps] section[role=region]>header:first-child {
    box-shadow: unset;
}

.slot[data-activity=p_gps] [data-type=list] li {
    padding: 0 1.5rem;
}

.slot[data-activity=p_gps] [data-type=list] li .gaia-select {
    position: relative;
    width: 100%;
    height: 4rem;
    margin-top: -1rem;
}

.slot[data-activity=p_gps] [data-type=list] li .gaia-select fieldset {
    z-index: -1;
    margin: 0 !important;
}

.slot[data-activity=p_gps] [data-type=list] li .gaia-select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}