.slot[data-activity=p_notify] section[role=region]>header:first-child {
    box-shadow: unset;
}

.slot[data-activity=p_notify] [data-type=list] li>* {
    padding: 0 1.5rem;
}

.slot[data-activity=p_notify] [data-type=list] #vibration-duration [role=slider] {
    margin-top: -1rem;
    padding-bottom: 1rem;
}