.slot[data-activity=defaultGauge] {
    z-index: -1 !important;
    overflow: visible !important;
    transition: transform .5s, opacity .5s ease;
}

.slot[data-activity=defaultGauge].bootSuccess {
    transform: translateX(-50%) !important;
    top: 2.5rem !important;
    width: 100% !important;
    max-width: 60rem;
}

.slot[data-activity=defaultGauge] #gauge {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.slot[data-activity=defaultGauge] #background-gauge {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.slot[data-activity=defaultGauge] #pin-gauge {
    position: absolute;
    width: 10%;
    height: 60%;
    top: 48%;
    opacity: 0;
    transition: transform .5s ease, opacity .5s;
    z-index: 4;
}

.slot[data-activity=defaultGauge].bootSuccess #pin-gauge {
    opacity: 1;
}

.slot[data-activity=defaultGauge] #fake-pin-gauge {
    position: absolute;
    width: auto;
    height: 60%;
    z-index: 4;
    transition: transform 1s, opacity .5s;
}

.slot[data-activity=defaultGauge].bootSuccess #fake-pin-gauge {
    opacity: 0;
}

.slot[data-activity=defaultGauge] #waves {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform .5s ease, opacity .5s ease;
}

.slot[data-activity=defaultGauge] .wave {
    position: absolute;
    border-radius: 50em;
    box-shadow: 0 0 1.2rem rgba(60, 60, 60, .35);
}

.slot[data-activity=defaultGauge] #inline-wave {
    background-color: rgba(230, 230, 230, 0.35);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slot[data-activity=defaultGauge] #outline-wave {
    background-color: rgba(150, 150, 150, 0.25);
    width: 130%;
    height: 130%;
    z-index: 1;
}

#waves.anim-waveInfinity {
    opacity: 1 !important;
    animation: anim_waveScale 12s infinite ease;
}

#waves.anim-waveStatic {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1.4);
}

@keyframes anim_waveScale {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.animLogoTick {
    animation: anim_logoTick 3s infinite;
}

@keyframes anim_logoTick {
    0% {
        transform: translate(-50%, -50%) rotate(70deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(290deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(70deg);
    }
}