.slot[data-activity=moreInfo] section[role=region] header {
    background: #ff9100;
}

.slot[data-activity=moreInfo] section[role=region] header:first-child {
    box-shadow: unset;
}

.slot[data-activity=moreInfo] #subheader {
    position: relative;
    width: 100%;
    height: 30%;
}

.slot[data-activity=moreInfo] #subheader div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 45%;
    box-sizing: border-box;
    padding: 0 2.5rem;
    text-align: center;
    color: #fff;
}

.slot[data-activity=moreInfo] #subheader h1 {
    font-weight: 300;
    font-size: 2.5rem;
    font-style: italic;
}

.slot[data-activity=moreInfo] #subheader p {
    margin-top: .5rem !important
}

.slot[data-activity=moreInfo] #lastReceived {
    margin: 1rem 0 !important;
    text-align: center;
    color: #777;
}

.slot[data-activity=moreInfo] #details-info {
    position: absolute;
    width: 100%;
    height: calc(70% - 4.5rem);
    bottom: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: #f7f7f7;
    box-shadow: 0 -.3rem 1rem rgba(63, 63, 63, .75);
    overflow: scroll;
}

.slot[data-activity=moreInfo] #data {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2.4rem;
}

.slot[data-activity=moreInfo] #data li {
    font-weight: 300;
    min-width: 35%;
    min-height: 5rem;
    padding: .5rem;
    overflow: hidden;
    flex: 1;
}

.slot[data-activity=moreInfo] #data li .value {
    font-weight: inherit;
    font-size: 1.4rem;
}

.slot[data-activity=moreInfo] #data li h2 {
    font-weight: inherit;
    font-size: 1.75rem;
    margin-top: .5rem;
}