[data-activity="donate"] {
    z-index: 10 !important;
}

[data-activity=donate] section[role=region] {
    background-color: #f4f4f4;
}

[data-activity=donate] #main {
    box-sizing: border-box;
    padding: 2rem;
}

[data-activity=donate] #social .container {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

[data-activity=donate] #social h2 {
    text-align: center;
}

[data-activity=donate] #social .container .btn-social {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
}

[data-activity=donate] #social .fa-facebook {
    color: #3c5a98;
}

[data-activity=donate] #social .fa-twitter {
    color: #0fb5ee;
}

[data-activity=donate] #donate a img {
    margin: .5rem 0;
}