<!DOCTYPE html>
<html>

<head>
    <meta name="activityStyle" content="about.css">
    <meta name="activityScript" content="about.js">
</head>

<body>
    <section role="region" class="skin-organic">
        <header>
            <button type="button"><span class="fa fa-angle-left fa-2x"></span></button>
            <h1>Acerca De</h1>
        </header>

        <article id="main" class="center">
            <div id="app-details">
                <img src="res/logo128.png" alt="Acerca de" id="logo">
                <h1>SpeedGPS</h1>
                <p id="version" class="mini">-</p>
                <p id="description" class="medium">-</p>
                <p id="copyright" class="mini">Copyright © Geekzolanos. Reservados todos los derechos.</p>
            </div>

            <div id="options">
                <a href="#" id="third-party">
                    <p class="mini">Librerías de terceros</p>
                </a>
            </div>
        </article>

        <a id="website" href="https://geekzolanos.github.io" target="_blank">
            <button id="btn-visit-us" type="button">
                <img src="res/gk_logo_alpha.png" alt="GK">
            </button>
        </a>
    </section>
</body>

</html>