<!DOCTYPE html>
<html>

<head>
    <meta name="activityStyle" content="main.css">
    <meta name="activityScript" content="main.js">
</head>

<body>
    <section role="region">
        <header>
            <button type="button"><span class="fa fa-bars fa-lg"></span></button>
            <h1>SpeedGPS</h1>
            <menu type="toolbar">
                <a href="#" id="about"><span class="fa fa-info-circle fa-lg"></span></a></menu>
        </header>

        <div role="drawer">
            <ul data-type="list">
                <li id="donate">
                    <a>
                        <p>Colabora con el proyecto</p>
                    </a>
                </li>
            </ul>

            <footer role="toolbar">
                <button id="prefs">
                    <span class="fa fa-cog fa-2x"></span> <span class="description">Preferencias</span>
                </button>
            </footer>
        </div>

        <div id="drawer-lock"></div>

        <article id="details-main">
            <div id="speed">
                <h2>Velocidad:</h2>
                <div id="value">
                    <div id="unit">
                        <select></select>
                        <h2 id="unitSelected">-</h2>
                        <p>Toque aquí para cambiar la unidad.</p>
                    </div>

                    <h1 id="speedValue">0</h1>
                </div>
            </div>

            <ul id="data">
                <li id="latitude">
                    <p class="value">0° 0' 0''</p>
                    <h2>Latitud</h2>
                </li>
                <li id="longitude">
                    <p class="value">0° 0' 0''</p>
                    <h2>Longitud</h2>
                </li>
                <li id="altitude">
                    <p class="value">0 Mts</p>
                    <h2>Altura</h2>
                </li>
            </ul>

            <div class="footer">
                <div id="details">
                    <p id="power" class="field"><span>Potencia</span> <span class="value" data-icon="signal-0"></span></p>
                    <p id="accuracy" class="field"><span>Precisión</span> <span class="value">-</span></p>
                </div>

                <p id="lastReceived" class="micro">Ultima información recibida: -</p>
                <button id="btn-more" type="button"><span class="fa fa-ellipsis-h fa-lg"></span></button>
            </div>
        </article>
    </section>
</body>

</html>