<!DOCTYPE html>
<html>

<head>
    <meta name="activityStyle" content="moreInfo.css">
    <meta name="activityScript" content="moreInfo.js">
</head>

<body>
    <section role="region">
        <header>
            <button type="button"><span class="fa fa-angle-left fa-2x"></span></button>
            <h1>SpeedGPS</h1>
        </header>

        <header id="subheader">
            <div class="absolute-center">
                <h1>Información Avanzada</h1>
                <p class="mini">Conozca aquí a detalle la información recibida por el sistema GPS</p>
            </div>
        </header>

        <article id="details-info">
            <p id="lastReceived" class="micro">Últimos datos recibidos el: -</p>
            <ul id="data">
                <li id="latitude">
                    <p class="value">-</p>
                    <h2>Latitud</h2>
                </li>
                <li id="longitude">
                    <p class="value">-</p>
                    <h2>Longitud</h2>
                </li>
                <li id="altitude">
                    <p class="value">-</p>
                    <h2>Altura</h2>
                </li>
                <li id="accuracy">
                    <p class="value">-</p>
                    <h2>Precisión</h2>
                </li>
                <li id="alt-accuracy">
                    <p class="value">-</p>
                    <h2>Precisión Altitud</h2>
                </li>
                <li id="speed">
                    <p class="value">-</p>
                    <h2>Velocidad</h2>
                </li>
            </ul>
        </article>
    </section>
</body>

</html>