.slot[data-activity=colors] .content {
    width: 100%;
    height: 100%;
}

.slot[data-activity=colors] .content[data-color="0"] {
    background-color: #ff0;
}

.slot[data-activity=colors] .content[data-color="1"] {
    background-color: blue;
}

.slot[data-activity=colors] .content[data-color="2"] {
    background-color: red;
}